/* Fonts */
@import url('https://rsms.me/inter/inter.css');
$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

/* Colours */
$d-blue: #16161D;
$blue: #28293F;
$l-blue: #7689F3;
$off-white: #F8F8FF;
$white: white;


/* Font Sizes */
$base: 16px;
$fs-medium: ceil($base * 1.56);
$fs-large: ceil($base * 2.441);
$fs-xlarge: ceil($base * 3.052);

h1{
    font-size: $fs-xlarge;
}

h2{
    font-size: $fs-large;
}

h3{
    font-size: $fs-medium;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}

/* Breakpoints */

$s-small: 360px;
$s-medium: 768px;
$s-large: 1280px;