@import 'reset';
@import 'variables';

body{
    font-family: 'Inter', sans-serif;
    background-color: $d-blue;
    color: $off-white;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

img{
    width: 100%;
    max-width: 100%;
}

