@import 'reset';
@import 'variables';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: $d-blue;
    color: $off-white;
    font-size: $base;
    line-height: 1.5;
    font-weight: 400;
    padding: ($base/2) $base;

    @media screen and (min-width: $s-medium) {
        padding: ($fs-large/2) $fs-large;
        border: $base solid $blue;
    }
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

p {
    line-height: 2;
}

img {
    max-width: 100%;
}

.wrapper {
    width: 90%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (min-width: $s-medium) {
        grid-template-columns: repeat(8, 1fr);
    }

    &--default {
        >.grid__content.grid__content--full {
            grid-column: 1/-1;
        }

        >.grid__content.grid__work--image,
        >.grid__content.grid__work--info {
            grid-column: 1/-1;
        }

        @media screen and (min-width: $s-medium) {
            >.grid__content.grid__work--image {
                grid-column: span 4;
            }

            >.grid__content.grid__work--info {
                grid-column: 6/span 3;
            }
        }

    }

    &--intro {
        text-align: center;
        align-items: center;
        grid-gap: $base;
        padding: $base 0;

        &__image {
            img {
                max-height: 500px;
            }
        }

        &__text,
        &__image {
            grid-column: 1/-1;
        }

        @media screen and (min-width: $s-medium) {

            &__text,
            &__image {
                grid-column: span 4;
            }
        }
    }
}